<div class="row">
	<div class="col-md-6">
		<h1>Select a movie</h1>
				<% @popular_movies.first(15).each do |movie| %>

			<div class="movie_image">
			<%= link_to image_tag("http://image.tmdb.org/t/p/w154/#{movie['poster_path']}"), recommendations_path(

			"recommendation[title]" => movie["title"]

			), method: :post %>

			</a>
			</div>
				<% end %>
	</div>
	<div class="col-md-6">
		<h1>Or add our own.</h1>

		<%= render 'form' %>

		<%= link_to 'Back', recommendations_path %>
	</div>
</div>
